<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:composition template="/templates/externa.xhtml">
		<ui:define name="titulo">
			<h:outputText value="#{usuarioBean.usuario.nome}"/>, seja Bem-vindo
		</ui:define>
		<ui:define name="corpo">
		Seu cadastro foi efetuado com sucesso.
		<br />
		Clique <a href="login.jsf">aqui</a> para efetuar o login.
		</ui:define>
	</ui:composition>
</html>
