<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<ui:composition template="/templates/interna.xhtml">
	<ui:define name="titulo">
		Categorias
	</ui:define>
	<ui:define name="corpo">
		<h:panelGrid columns="2" cellpadding="5">
			<h:panelGroup>
				<h:form>
					<p:commandButton value="Novo" action="#{categoriaBean.novo}" update=":edicao" />
				</h:form>
				<h:form id="arvore" style="float:left">
					<p:tree value="#{categoriaBean.categoriasTree}" var="node" dynamic="false"
						cache="false" selectionMode="single" expandAnim="FADE_IN" collapseAnim="FADE_OUT">
						<p:ajax event="select" update=":edicao"	listener="#{categoriaBean.selecionar}" />
						<p:treeNode>
							<h:outputText value="#{node.descricao}" />
						</p:treeNode>
					</p:tree>
				</h:form>
			</h:panelGroup>
			<h:panelGroup id="edicao">
				<h:form>
					<h:messages />
					<h:panelGroup style="visibility:#{((categoriaBean.mostraEdicao)?'visible':'hidden')}">
						<h:inputHidden value="#{categoriaBean.editada.codigo}" />
						<h:inputHidden value="#{categoriaBean.editada.fator}" />
						<h:inputHidden value="#{categoriaBean.mostraEdicao}" />
						<h:panelGrid columns="2">
							<h:outputLabel value="Pai" />
							<h:selectOneMenu value="#{categoriaBean.editada.pai}">
								<f:selectItems value="#{categoriaBean.categoriasSelect}" />
							</h:selectOneMenu>
							<h:outputLabel value="Descrição" />
							<h:inputText value="#{categoriaBean.editada.descricao}" />
							<h:outputText />
							<h:panelGroup>
								<p:commandButton value="Salvar" action="#{categoriaBean.salvar}" update=":edicao, :arvore" />
								<p:commandButton value="Excluir" action="#{categoriaBean.excluir}" update=":edicao, :arvore" />
							</h:panelGroup>
							<h:outputText />
							<p:commandButton value="Nova subcategoria" action="#{categoriaBean.novo}" update=":edicao" />
						</h:panelGrid>
					</h:panelGroup>
				</h:form>
			</h:panelGroup>
		</h:panelGrid>
	</ui:define>
</ui:composition>
</html>
