<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<ui:composition template="/templates/externa.xhtml">
		<ui:define name="titulo">
			Financeiro
		</ui:define>
		<ui:define name="corpo">
			<h:form>
				<h:commandLink action="#{usuarioBean.novo}">Novo usuário</h:commandLink>
				<br />
				<h:outputLink value="restrito/principal.jsf">Entrar</h:outputLink>
			</h:form>
		</ui:define>
	</ui:composition>
</html>
